<div id="leaveRequestModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="leaveRequestModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="leaveRequestModalLabel">Leave Request</h3>
  </div>
  <%= render 'leave_requests/form', leave_request: leave_request %>
</div>
