<div class="row dropdown" id="alerts">
  <button type="button" class="view-all pull-right btn btn-default dropdown-toggle" data-toggle="dropdown" data-target="#">
    View All <span class="caret"></span>
  </button>

  <div id="alert_scroll">
    <div class="wrap"></div>      
  </div>
</div>